
/**
 * DESIGNER WIDGET
 */

.designer-widget {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
}
.designer-widget > legend {
  border-bottom: 1px solid black;
  padding: .5rem;
}
/*.designer-widget > legend:hover {
  cursor: move;
}*/

/**
 * BS5 UTILITIES
 */

.top-83 { top: 83% !important; }
.top-84 { top: 84% !important; }
.top-85 { top: 85% !important; }
.top-86 { top: 86% !important; }
.top-87 { top: 87% !important; }
.top-88 { top: 88% !important; }
.top-89 { top: 89% !important; }
.top-90 { top: 90% !important; }
.top-94 { top: 94% !important; }
.top-95 { top: 95% !important; }


#playerModeElement .active,
#playerBeltElement .active,
#playerBuildElement .active {
  color: white !important;
}

/**
 * PLAYER MODE
 */

#playerModeElement {
  z-index: 2;
}
#playerModeElement .badge {
  z-index: 2; /* keeps badge above btn-group:hover border*/
}
#playerModePanes {
  z-index: 1;
}
